html {
  height: calc(100% - 20px);
}
body {
  height: 100%;
  background-color: #12141c;
  display: flex;
  overflow: hidden;
  font-family: Courier New;
}

textarea {
  width: calc(100% - 20px);
  height: 100%;
  font-size: 22px;
  font-family: Courier New;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  color: #eeeeee;
  border-left: 3px solid #33333a;
  margin-left: 10px;
  padding-left: 10px;
  tab-size: 2;
}

#note-list-wrapper {
  color: #eeeeee;
  transition: width 0.3s;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 200px;
}

#note-list a {
  color: inherit;
  white-space: nowrap;
  line-height: 21px;
}

#note-list-wrapper.hidden {
  width: 0;
}

#note-list-wrapper > div {
  width: 160px;
}

#note-list-wrapper h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

#note-list-wrapper ul {
  padding-left: 20px;
  margin-top: 0;
}

/* Command strip stuff */
.command-strip {
  top: 20px;
  right: 20px;
  position: fixed;
  cursor: text;
}

.command-strip:hover > .command-button {
  background-color: rgba(238, 238, 238, 0.55);
}


.command-button {
  background-color: rgba(238, 238, 238, 0.40);
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  opacity: 1;
  transition: width 0.2s, margin 0.2s, opacity 0.3s 0.2s, background-color 0.2s;
  overflow: hidden;
}

.command-button.hidden {
  width: 0px;
  opacity: 0;
  transition: width 0.2s 0.3s, margin 0.2s 0.3s, opacity 0.3s;
}

.command-button > * {
  margin: 7px;
}

.command-button.hoverable {
  cursor: pointer;
}

.command-strip > .command-button.hoverable:hover, .command-strip > .command-button.active {
  background-color: rgba(238, 238, 238, 0.80);
}

#viewer-count-indicator {
  width: auto;
}

#view-count-indicator > * {
  margin: 7px 0;
}
