# Prod config. Internally, we set all ports to default and handle custom user
# configs via docker port remapping.
services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: quick-pad
      POSTGRES_PASSWORD: password
      POSTGRES_DB: quick-pad
    ports:
      - "${DOCKER_PG_PORT:-5432}:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U quick-pad"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:latest
    ports:
      - "${DOCKER_REDIS_PORT:-6379}:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 5s
      timeout: 3s
      retries: 10

  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "${DOCKER_APP_PORT:-8080}:8080"
    restart: unless-stopped

volumes:
  pgdata:
